@model ConfigurationModel

@{
    Layout = "_ConfigureModule";
}

@await Component.InvokeAsync("StoreScope")

<script type="importmap">
    {
         "imports": {
         "vue": "/Modules/ML.CMS/lib/unpkg.com_vue@3.3.4_dist_vue.esm-browser.js",
         "@@vue/devtools-api": "https://unpkg.com/@@vue/devtools-api@6/lib/esm/index.js"
         }
    }
</script>
<script type="module" src="/Modules/ML.CMS/vue/app-editor.js"></script>



<div id="app-editor" class="row">

    <div ref="iframeContainer"  class="border col p-0 m-0" id="iframeContainer" style="min-height: 35rem;">
    </div>

    <div  class="bg-white border-left flex-column d-flex p-2" style="width:300px">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">ID</span>
            </div>
            <input type="text" v-model="entryid" class="form-control" placeholder="Entry" aria-label="Entry" aria-describedby="basic-addon1">

        </div>

        <div class="form-group">
            <label for="InputTag">Tag</label>
            <input v-model="entrytag" list="Tag" class="custom-select custom-select-sm">
            <datalist id="Tag">
                <option value="text">text</option>
                <option value="p">p</option>
                <option value="h1">h1</option>
                <option value="h2">h2</option>
                <option value="h3">h3</option>
                <option value="h4">h4</option>
                <option value="h5">h5</option>
            </datalist>
        </div>

        <div class="form-group">
            <label for="InputClasses">Classes</label>
            <input :disabled="!plaintext" v-model="entryclasses" type="text" class="form-control" id="InputClasses" aria-describedby="emailHelp" placeholder="Enter classes">
            <small id="emailHelp" class="form-text text-muted">Enter custom classes.</small>
        </div>

        <label>EN<img class="ml-2" src="/images/flags/us.png" alt="us.png"></label>
        <textarea v-model="entryen" rows="6" class="m-2" placeholder=""></textarea>
        <label>DE<img class="ml-2" src="/images/flags/de.png" alt="de.png"></label>
        <textarea v-model="entryde" rows="6" class="m-2" placeholder=""></textarea>

        <!-- Button trigger modal -->
        <button @@click="updateresource" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editorModal">
            Save
        </button>

        <hr />

        <div class="form-check form-switch">
            <input class="form-check-input" @@click="togglehighlightmissing($event)" type="checkbox" role="switch" id="switchshowmissing">
            <label class="form-check-label" for="switchshowmissing">Show missing translations</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" @@change="togglehighlightselected($event)" v-model="highlightselected" type="checkbox" role="switch" id="switchselectedvis">
            <label class="form-check-label" for="switchselectedvis">Show selected</label>
        </div>

        <hr />

        <button v-for="item in cmselements" class="btn btn-white justify-content-start my-1" :class="incomplete(item.Value)" @@click="loadform(item.Value)">
            <i class="fa-solid fa-font pr-2"></i>
            {{item.Value.ID}}
        </button>
    </div>
</div>


<form asp-action="Configure">
    <widget target-zone="admin_button_toolbar_before">
        <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
            <i class="fa fa-check"></i>
            <span>@T("Admin.Common.Save")</span>
        </button>
    </widget>

    <div asp-validation-summary="All"></div>


    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="EnableMiniProfilerInPublicStore" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="EnableMiniProfilerInPublicStore" data-toggler-for="#pnlIgnorePaths"></setting-editor>
                <span asp-validation-for="EnableMiniProfilerInPublicStore"></span>
            </div>
        </div>
        <div id="pnlIgnorePaths" class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="MiniProfilerIgnorePaths" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="MiniProfilerIgnorePaths"></setting-editor>
                <span asp-validation-for="MiniProfilerIgnorePaths"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DisplayWidgetZones" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="DisplayWidgetZones"></setting-editor>
                <span asp-validation-for="DisplayWidgetZones"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DisplayMachineName" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="DisplayMachineName"></setting-editor>
                <span asp-validation-for="DisplayMachineName"></span>
            </div>
        </div>
    </div>
</form>

